<?xml version="1.0"?>
<config>
    <modules>
        <Emark_Cartalert>
            <version>0.1.0</version>
        </Emark_Cartalert>
    </modules>
    <admin>
        <routers>
            <emark_cartalert>
                <use>admin</use>
                <args>
                    <module>Emark_Cartalert</module>
                    <frontName>emark_cartalert</frontName>
                </args>
            </emark_cartalert>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <newsletter>
                <children>
                    <emark_cartalert translate="title" module="emark_cartalert">
                        <title>Abandoned Carts Alerts</title>
                        <sort_order>100</sort_order>
                        <children>
                            <alerts translate="title" module="emark_cartalert">
                                <title>Pending Alerts</title>
                                <action>emark_cartalert/adminhtml_cartalert</action>
                            </alerts>
                            <history translate="title" module="emark_cartalert">
                                <title>History</title>
                                <action>emark_cartalert/adminhtml_history</action>
                            </history>
                        </children>
                    </emark_cartalert>
                </children>
            </newsletter>
        </menu>
        <acl>
            <resources>
                <admin>
                    <children>
                        <newsletter>
                            <children>
                                <emark_cartalert translate="title">
                                    <title>Abandoned Carts Alerts</title>
                                    <sort_order>100</sort_order>
                                    <children>
                                        <alerts translate="title" module="emark_cartalert">
                                            <title>Pending Alerts</title>
                                        </alerts>
                                        <history translate="title" module="emark_cartalert">
                                            <title>History</title>
                                        </history>
                                    </children>
                                </emark_cartalert>
                            </children>
                        </newsletter>
                    </children>
                </admin>
            </resources>
        </acl>
        <translate>
            <modules>
                <Emark_Cartalert>
                    <files>
                        <default>Emark_Cartalert.csv</default>
                    </files>
                </Emark_Cartalert>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <routers>
            <emark_cartalert>
                <use>standard</use>
                <args>
                    <module>Emark_Cartalert</module>
                    <frontName>alerts</frontName>
                </args>
            </emark_cartalert>
        </routers>
    </frontend>
    <global>
        <models>
            <emark_cartalert>
                <class>Emark_Cartalert_Model</class>
                <resourceModel>emark_cartalert_mysql4</resourceModel>
            </emark_cartalert>
            <emark_cartalert_mysql4>
                <class>Emark_Cartalert_Model_Mysql4</class>
                <entities>
                    <cartalert>
                        <table>emark_cartalert</table>
                    </cartalert>
                    <history>
                        <table>emark_cartalert_history</table>
                    </history>
                </entities>
            </emark_cartalert_mysql4>
        </models>
        <resources>
            <emark_cartalert_setup>
                <setup>
                    <module>Emark_Cartalert</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </emark_cartalert_setup>
            <emark_cartalert_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </emark_cartalert_write>
            <emark_cartalert_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </emark_cartalert_read>
        </resources>
        <blocks>
            <emark_cartalert>
                <class>Emark_Cartalert_Block</class>
            </emark_cartalert>
            <checkout>
                <rewrite>
                    <onepage>Emark_Cartalert_Block_Rewrite_FrontCheckoutOnepage</onepage>
                </rewrite>
            </checkout>
        </blocks>
        <helpers>
            <emark_cartalert>
                <class>Emark_Cartalert_Helper</class>
            </emark_cartalert>
        </helpers>
        <template>
            <email>
                <catalog_emark_cartalert_template translate="label" module="emark_cartalert">
                    <label>Abandoned Cart: The First Follow Up</label>
                    <file>abandoned_cart_alert.html</file>
                    <type>html</type>
                </catalog_emark_cartalert_template>
                <catalog_emark_cartalert_template2 translate="label" module="emark_cartalert">
                    <label>Abandoned Cart: The Second Follow Up</label>
                    <file>abandoned_cart_alert2.html</file>
                    <type>html</type>
                </catalog_emark_cartalert_template2>
                <catalog_emark_cartalert_template3 translate="label" module="emark_cartalert">
                    <label>Abandoned Cart: The Third Follow Up</label>
                    <file>abandoned_cart_alert3.html</file>
                    <type>html</type>
                </catalog_emark_cartalert_template3>
            </email>
        </template>
        <events>
            <checkout_type_onepage_save_order_after>
                <observers>
                    <emark_cartalert>
                        <type>singleton</type>
                        <class>emark_cartalert/observer</class>
                        <method>processOrderCreated</method>
                    </emark_cartalert>
                </observers>
            </checkout_type_onepage_save_order_after>
            <checkout_type_multishipping_create_orders_single>
                <observers>
                    <emark_cartalert>
                        <type>singleton</type>
                        <class>emark_cartalert/observer</class>
                        <method>processOrderCreated</method>
                    </emark_cartalert>
                </observers>
            </checkout_type_multishipping_create_orders_single>
            <sales_quote_add_item>
                <observers>
                    <emark_cartalert>
                        <type>singleton</type>
                        <class>emark_cartalert/observer</class>
                        <method>updateAlertsStatus</method>
                    </emark_cartalert>
                </observers>
            </sales_quote_add_item>
            <sales_quote_remove_item>
                <observers>
                    <emark_cartalert>
                        <type>singleton</type>
                        <class>emark_cartalert/observer</class>
                        <method>updateAlertsStatus</method>
                    </emark_cartalert>
                </observers>
            </sales_quote_remove_item>
        </events>
    </global>
    <crontab>
        <jobs>
            <emark_cartalert_create>
                <schedule>
                    <cron_expr>*/4 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>emark_cartalert/observer::createCartalerts</model>
                </run>
            </emark_cartalert_create>
        </jobs>
    </crontab>
    <default>
        <catalog>
            <emark_cartalert>
                <sending_enabled>0</sending_enabled>
                <timeout>10</timeout>
                <delay>45</delay>
                <delay2>24</delay2>
                <delay3>0</delay3>
                <identity>general</identity>
                <template>catalog_emark_cartalert_template</template>
                <template2>catalog_emark_cartalert_template2</template2>
                <template3>catalog_emark_cartalert_template3</template3>
                <stop_after_order>1</stop_after_order>
                <stop_after_visit>1</stop_after_visit>
                <coupon_step>none</coupon_step>
                <coupon_type>by_percent</coupon_type>
                <coupon_amount>5</coupon_amount>
                <coupon_days>1</coupon_days>
            </emark_cartalert>
        </catalog>
    </default>
</config>
