<?xml version="1.0"?>
<config>
	<modules>
		<Emark_Mail>
			<version>1.2</version>
		</Emark_Mail>
	</modules>
	<frontend>
		<routers>
			<newsletter>
				<args>
					<modules>
						<Emark_Mail after="Mage_Newsletter">Emark_Mail</Emark_Mail>
					</modules>
				</args>
			</newsletter>
		</routers>
		<translate>
			<modules>
				<Emark_Mail>
					<files>
						<default>Emark_Mail.csv</default>
					</files>
				</Emark_Mail>
			</modules>
		</translate>
	</frontend>
	<global>
		<events>
                        <customer_save_after>
                                <observers>
                                        <emark_mail>
                                                <class>mail/customer_register_observer</class>
                                                <method>updateEm</method>
                                        </emark_mail>
                                </observers>
                        </customer_save_after>
                </events>
		<helpers>
			<mail>
				<class>Emark_Mail_Helper</class>
			</mail>
		</helpers>
		<blocks>
                        <mail>
                                <class>Emark_Mail_Block</class>
                        </mail>
			<adminhtml>
				<rewrite>
					<newsletter_subscriber_grid>Emark_Mail_Block_Admin_Newsletter_Subscriber_Grid</newsletter_subscriber_grid>
				</rewrite>
			</adminhtml>
                </blocks>
		<models>
			<mail>
				<class>Emark_Mail_Model</class>
			</mail>
			<newsletter>
				<rewrite>
					<subscriber>Emark_Mail_Model_Subscriber</subscriber>
				</rewrite>
			</newsletter>
                        <customer>
                                <rewrite>
                                        <customer>Emark_Mail_Model_Customer</customer>
                                </rewrite>
                        </customer>
                </models>
	</global>
	<admin>
		<routers>
			<mail>
				<use>admin</use>
				<args>
					<module>Emark_Mail_Admin</module>
					<frontName>mail</frontName>
				</args>
			</mail>
			<adminhtml>
				<args>
					<modules>
						<Emark_Mail before="Mage_Adminhtml">Emark_Mail_Admin</Emark_Mail>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	<adminhtml>
		<translate>
			<modules>
				<Emark_Mail>
					<files>
						<default>Emark_Mail.csv</default>
					</files>
				</Emark_Mail>
			</modules>
		</translate>
	</adminhtml>
	<default>
		<emark_sections>
			<emark_settings>	
				<emark_api>https://mail.e-mark.nl/rest/api/v2/</emark_api>
				<emark_source>1</emark_source>
			</emark_settings>
		</emark_sections>
	</default>
	<crontab>
		<jobs>
			<customer_update>
				<schedule><cron_expr>00 00 * * *</cron_expr></schedule>
				<run><model>mail/customer::updateMagentoCron</model></run>
			</customer_update>
		</jobs>
	</crontab>
</config>
