<?xml version="1.0"?>
<config>
    <modules>
        <Emark_Mbbwebservice>
            <version>1.0.0</version>
            <platform>ce</platform>
        </Emark_Mbbwebservice>
    </modules>
    <adminhtml>
        <menu>
            <system>
                <children>
                    <mails translate="title" module="mbbwebservice">
                        <title>Emark settings</title>
                        <action>adminhtml/system_config/edit/section/mbbwebservice</action>
                        <sort_order>110</sort_order>
                    </mails>
                </children>
            </system>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <mails>
                            <children>
                                <mails>
                                    <title>Emark</title>
                                </mails>
                            </children>
                        </mails>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <mbbwebservice>
                                            <title>Emark</title>
                                        </mbbwebservice>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                    <children>
                        <system>
                            <children>
                                <mails translate="title" module="mbbwebservice">
                                    <title>Emark settings</title>
                                    <sort_order>40</sort_order>
                                    <action>adminhtml/system_config/edit/section/mbbwebservice</action>
                                </mails>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <translate>
            <modules>
                <Emark_Mbbwebservice>
                    <files>
                        <default>Emark_Mbbwebservice.csv</default>
                    </files>
                </Emark_Mbbwebservice>
            </modules>
        </translate>
    </adminhtml>
    <admin>
        <routers>
            <mbbwebservice_admin>
                <use>admin</use>
                <args>
                    <module>Emark_Mbbwebservice</module>
                    <frontName>mails_admin</frontName>
                </args>
            </mbbwebservice_admin>
        </routers>
    </admin>
    <global>
        <models>
            <mbbwebservice>
                <class>Emark_Mbbwebservice_Model</class>
            </mbbwebservice>
            <core>
                <rewrite>
                    <email_template>Emark_Mbbwebservice_Model_Email_Template</email_template>
                </rewrite>
            </core>
        </models>
        <events>
            <core_config_data_save_commit_after>
                <observers>
                    <test_mail>
                        <type>singleton</type>
                        <class>Emark_Mbbwebservice_Model_Observer</class>
                        <method>sendTestMail</method>
                    </test_mail>
                </observers>
            </core_config_data_save_commit_after>
        </events>
        <resources>
            <mbbwebservice_setup>
                <setup>
                    <module>Emark_Mbbwebservice</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mbbwebservice_setup>
            <mbbwebservice_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </mbbwebservice_write>
            <mbbwebservice_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </mbbwebservice_read>
        </resources>
        <helpers>
            <mbbwebservice>
                <class>Emark_Mbbwebservice_Helper</class>
            </mbbwebservice>
        </helpers>
        <blocks>
            <mbbwebservice>
                <class>Emark_Mbbwebservice_Block</class>
            </mbbwebservice>
        </blocks>
    </global>
    <default>
        <mbbwebservice>
            <general>
                <enabled>0</enabled>
                <test>0</test>
                <test_address />
            </general>
            <smtp>
		<hallo>Bla</hallo>
                <ssl />
            </smtp>
        </mbbwebservice>
    </default>
</config>
